*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Inter",sans-serif;
    background:#fcfbff;
    color:#1b2340;
}

.container{
    width:100%;
    max-width:none;
    margin:0;
    padding:0;
}

.builder{
    width:100%;
    min-height:100vh;
    padding:0;
    background:
    radial-gradient(circle at 15% 25%,rgba(255,204,95,.18),transparent 28%),
    radial-gradient(circle at 90% 80%,rgba(121,96,255,.15),transparent 28%),
    #fcfbff;
}

.builder-box{
    width:100%;
    min-height:100vh;
    display:grid;
    grid-template-columns:310px 1fr;
    background:#fff;
    border:1px solid #ece8ff;
    overflow:hidden;
    box-shadow:0 30px 70px rgba(28,34,70,.06);
}

/* Sidebar */

.builder-sidebar{
    background:#8570ed;
    border-right:1px solid #e4e2eb;
    padding:40px 30px;
}

.builder-sidebar h2{
    font-size:2rem;
    font-weight:800;
    margin-bottom:50px;
    color:white;
}

.builder-sidebar h2 span{
    color:#1f0f96;
}

.builder-sidebar ul{
    list-style:none;
}

.builder-sidebar li{
    display:flex;
    align-items:center;
    gap:14px;
    padding:12px 16px;
    border-radius:16px;
}

.builder-sidebar li.active{
    background:#fff;
    color:#1b2340;
    box-shadow:0 10px 25px rgba(112,93,255,.08);
}

.builder-sidebar li.active .step-number{
    background:linear-gradient(135deg,#6d5cff,#ff5fa2);
    color:#fff;
    border:none;
}

/*Steps*/

.steps-list{
    list-style:none;
    margin-top:50px;
    display:flex;
    flex-direction:column;
    gap:18px;
}

.steps-list li{
    display:flex;
    align-items:center;
    gap:16px;
    padding:12px 16px;
    border-radius:16px;
    cursor:pointer;
    transition:.35s;
}

.step-number{
    width:46px;
    height:46px;
    border-radius:50%;
    border:2px solid #d9def8;
    background:#fff;
    color:#5a6782;
    font-weight:700;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-shrink:0;
    transition:.35s;
}

.step-text{
    font-size:18px;
    font-weight:600;
    color:#ffffffcc;
}

/* Current Step */

.steps-list li.active{
    background:#ffffff;
}

.steps-list li.active .step-text{
    color:#1f2b4d;
}

.steps-list li.active .step-number{
    border:none;
    background:linear-gradient(135deg,#7b61ff,#ff4fa3);
    color:#fff;
}

/* Completed Step */

.steps-list li.completed .step-number{
    background:#25c46b;
    color:#fff;
    border:none;
}

.steps-list li.completed .step-text{
    color:#fff;
}

/* Hover */

.steps-list li:hover{
    transform:translateX(6px);
}


/* Content */

.builder-content{
    padding:65px 70px;
}

.progress-area p{
    font-size:.95rem;
    color:#7c849d;
    margin-bottom:12px;
}

.progress-bar{
    width:250px;
    height:10px;
    background:#ece8ff;
    border-radius:50px;
    overflow:hidden;
    margin-bottom:55px;
}

.progress-fill{
    width:14%;
    height:100%;
    border-radius:50px;
    background:linear-gradient(90deg,#6d5cff,#ff5fa2);
}

.builder-content h1{
    font-size:3.5rem;
    font-weight:800;
    line-height:1.08;
    max-width:700px;
    margin-bottom:18px;
}

.builder-content h1 span{
    display:block;
    font-family:"Times New Roman",serif;
    font-style:italic;
    color:#705dff;
    font-weight:600;
}

.builder-content>p{
    color:#6f7894;
    font-size:1.08rem;
    line-height:1.8;
    margin-bottom:45px;
    max-width:650px;
}

/* Form */

form{
    max-width:900px;
}

.form-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:34px 42px;
    margin-bottom:34px;
}

.form-group{
    display:flex;
    flex-direction:column;
}

.form-group label{
    font-size:.92rem;
    font-weight:600;
    margin-bottom:10px;
    color:#1d2441;
}

.form-group input{
    width:100%;
    padding:16px 18px;
    border:1px solid #565759;
    border-radius:12px;
    background:#fff;
    font-size:1rem;
    transition:.25s;
}

.form-group input::placeholder{
    color:#a0a7bf;
}

.form-group input:focus{
    outline:none;
    border-color:#705dff;
    box-shadow:0 0 0 4px rgba(112,93,255,.12);
}

form>.form-group{
    margin-bottom:45px;
}

/* Buttons */

.builder-actions{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:10px;
}

.secondary-btn{
    border:1px solid #dfe2ef;
    background:#fff;
    padding:15px 32px;
    border-radius:14px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.secondary-btn:hover{
    background:#f8f8ff;
}

.primary-btn{
    border:none;
    padding:15px 36px;
    border-radius:14px;
    background:linear-gradient(135deg,#6d5cff,#ff5fa2);
    color:#fff;
    font-weight:600;
    cursor:pointer;
    box-shadow:0 18px 35px rgba(112,93,255,.25);
    transition:.3s;
}

.primary-btn:hover{
    transform:translateY(-2px);
}

/* Responsive */

@media(max-width:1100px){

.builder-box{
    grid-template-columns:250px 1fr;
}

.builder-content{
    padding:50px;
}

.builder-content h1{
    font-size:3rem;
}

}

@media(max-width:900px){

.builder-box{
    grid-template-columns:1fr;
}

.builder-sidebar{
    border-right:none;
    border-bottom:1px solid #ebe6ff;
}

.form-grid{
    grid-template-columns:1fr;
    gap:24px;
}

.builder-content{
    padding:40px 24px;
}

.builder-content h1{
    font-size:2.5rem;
}

.builder-actions{
    flex-direction:column;
    gap:18px;
}

.secondary-btn,
.primary-btn{
    width:100%;
}

}

/*Education form*/

.step-two{
    width:28%;
}

.form-group textarea{
    width:100%;
    min-height:140px;
    padding:18px;
    border:1px solid #37383a;
    border-radius:12px;
    background:#fff;
    font-size:1rem;
    font-family:"Inter",sans-serif;
    color:#1d2441;
    resize:vertical;
    transition:.3s;
    line-height:1.7;
}

.form-group textarea::placeholder{
    color:#a0a7bf;
}

.form-group textarea:focus{
    outline:none;
    border-color:#705dff;
    box-shadow:0 0 0 4px rgba(112,93,255,.12);
}

.add-btn{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    width:100%;
    margin:10px 0 45px;
    padding:16px;
    border:2px dashed #d7d3ff;
    border-radius:18px;
    background:#faf9ff;
    color:#705dff;
    font-size:1rem;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.add-btn:hover{
    background:#f4f2ff;
    border-color:#705dff;
}

.builder-actions{
    margin-top:10px;
}

.secondary-btn{
    display:flex;
    align-items:center;
    gap:8px;
}

.primary-btn{
    display:flex;
    align-items:center;
    gap:8px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance:none;
    margin:0;
}

input[type="number"]{
    appearance:textfield;
}

.hidden{
    display:none;
}

/*Accordion for school*/

.school-accordion{

    margin-top:40px;

    border:1px solid #ebe9ff;

    border-radius:20px;

    background:#ffffff;

    box-shadow:0 12px 35px rgba(90,66,255,.08);

    overflow:hidden;

    transition:.3s;

}

.school-accordion:hover{

    box-shadow:0 16px 45px rgba(90,66,255,.12);

}

.school-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:22px 28px;

    cursor:pointer;

    background:#faf9ff;

    transition:.3s;

}

.school-header:hover{

    background:#f6f4ff;

}

.school-header h3{

    font-size:22px;
    
    font-weight:800;

    color:#1d2746;

    margin-bottom:5px;

}

.school-header p{

    font-size:15px;
    font-weight: 650px;
    color:#7b8199;

}

#schoolArrow{

    width:40px;

    height:40px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:26px;

    font-weight:600;

    color:#6c63ff;

    background:#ffffff;

    box-shadow:0 4px 12px rgba(0,0,0,.08);

    transition:.35s;

}

.school-content{

    max-height:0;

    overflow:hidden;

    transition:max-height .6s ease;

}

.school-accordion.active .school-content{

    max-height:1200px;

    padding:30px;

}

.school-accordion.active #schoolArrow{

    transform:rotate(45deg);

}

.education-card{

    padding:10px 0;

}

.education-card:first-child{

    padding-bottom:35px;

    border-bottom:1px solid #ecebff;

    margin-bottom:35px;

}

.card-heading{

    margin-bottom:25px;

}

.card-heading h2{

    font-size:22px;

    color:#20253d;

    margin-bottom:4px;

}

.card-heading p{

    color:#8188a2;

    font-size:15px;

}

/* EXPERIENCE PAGE*/

.card-header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-top:60px;
    margin-bottom:35px;

    padding-bottom:25px;

    border-bottom:2px solid #e5e7eb;
}

.card-title{
    margin:0;
    font-size:30px;
    font-weight:700;
    color:#1f2d5c;
}

.delete-btn{
    background:transparent;
    color:#cf5b5b;
    border:none;
    font-size:15px;
    font-weight:600;
    cursor:pointer;
}

.delete-btn:hover{
    text-decoration:none;
     color: rgb(222, 141, 141);
}

.experience-card{
    margin-bottom:40px;
}


.checkbox-group{
    display:flex;
    align-items:center;
    gap:12px;
    margin:28px 0;
}

.checkbox-group input[type="checkbox"]{
    width:18px;
    height:18px;
    accent-color:#6b5cff;
    cursor:pointer;
}

.checkbox-group label{
    font-size:16px;
    color:#364152;
    cursor:pointer;
}

textarea{
    width:100%;
    min-height:170px;
    resize:vertical;

    padding:18px 20px;

    border:1px solid #dbe3f1;
    border-radius:16px;

    font-size:15px;
    font-family:'Inter',sans-serif;
    line-height:1.7;

    outline:none;

    transition:.25s;
}

textarea:focus{

    border-color:#7c6cff;

    box-shadow:0 0 0 4px rgba(124,108,255,.12);

}

.add-btn{

    margin-top:30px;

    padding:15px 26px;

    border:none;
    border-radius:14px;

    background:#f5f4ff;

    color:#6b5cff;

    font-size:15px;
    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.add-btn:hover{

    background:#6b5cff;

    color:#fff;

    transform:translateY(-2px);

    box-shadow:0 10px 25px rgba(107,92,255,.18);

}

.card-header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-top:60px;
    margin-bottom:35px;

    padding-bottom:25px;

    border-bottom:2px solid #e5e7eb;
}

.card-title{
    margin:0;
    font-size:30px;
    font-weight:700;
    color:#1f2d5c;
}

.delete-btn{
    background:#fff5f5;
    color:#dc2626;
    border:1px solid #fecaca;
    border-radius:10px;
    padding:10px 16px;
    font-size:15px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.delete-btn:hover{
    background:#dc2626;
    color:#fff;
}


.experience-card{
    margin-top:50px;
}



.builder-actions{

    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-top:55px;

}

.secondary-btn{

    padding:15px 34px;

    background:#fff;

    border:1px solid #dbe3f1;

    border-radius:14px;

    font-size:15px;
    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.secondary-btn:hover{

    border-color:#6b5cff;

    color:#6b5cff;

}

.primary-btn{

    padding:15px 36px;

    border:none;

    border-radius:14px;

    background:linear-gradient(135deg,#6b5cff,#ec4899);

    color:#fff;

    font-size:15px;
    font-weight:600;

    cursor:pointer;

    transition:.3s;

    box-shadow:0 12px 30px rgba(107,92,255,.22);

}

.primary-btn:hover{

    transform:translateY(-2px);

    box-shadow:0 18px 40px rgba(107,92,255,.28);

}

/*PROJECT PAGE */

.project-card{
    margin-bottom:40px;
}

.card-header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-top:60px;
    margin-bottom:25px;

    padding-bottom:18px;

    border-bottom:2px solid #e8ebf3;
}

.card-title{
    margin:0;
    font-size:30px;
    font-weight:700;
    color:#1f2d5c;
}

.section-subtitle{
    color:#6b7280;
    font-size:15px;
    margin-bottom:30px;
}

.delete-btn{

    background:#fff5f5;
    color:#dc2626;

    border:1px solid #fecaca;
    border-radius:10px;

    padding:10px 18px;

    font-size:15px;
    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.delete-btn:hover{

    background:#dc2626;
    color:white;

    transform:translateY(-2px);

}

textarea{

    width:100%;
    min-height:170px;

    padding:18px;

    border:1px solid #dbe3f1;
    border-radius:16px;

    font-size:15px;
    line-height:1.7;

    resize:vertical;

    transition:.3s;

}

textarea:focus{

    outline:none;
    border-color:#6b5cff;

    box-shadow:0 0 0 4px rgba(107,92,255,.12);

}

.add-btn{

    width:100%;
    margin-top:30px;

    padding:16px;

    background:#f5f4ff;

    color:#6b5cff;

    border:none;
    border-radius:14px;

    font-size:16px;
    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.add-btn:hover{

    background:#6b5cff;
    color:white;

}

/*SKILLS*/

.skills-section{

    margin-bottom:55px;

}

.section-title{

    font-size:34px;
    font-weight:700;
    color:#1f2d5c;

    margin-bottom:10px;

}

.section-subtitle{

    font-size:18px;
    color:#667085;

    margin-bottom:28px;

}



/*QUICK SKILLS*/

.quick-skills{

    display:flex;
    flex-wrap:wrap;
    gap:14px;

    margin-bottom:28px;

}

.quick-skill,
.quick-soft-skill{

    border:1.5px solid #d8ddf0;

    background:#fff;

    color:#344054;

    padding:11px 18px;

    border-radius:999px;

    font-size:15px;
    font-weight:600;

    cursor:pointer;

    transition:.25s;

}

.quick-skill:hover,
.quick-soft-skill:hover{

    border-color:#6b5cff;

    background:#f5f3ff;

    color:#6b5cff;

}



/*INPUT ROW*/

.skill-input-box{

    display:flex;

    gap:18px;

    align-items:center;

    margin-bottom:30px;

}

.skill-input-box input{

    flex:1;

    height:58px;

    padding:0 20px;

    border:1.8px solid #cfd6e4;

    border-radius:16px;

    font-size:16px;

    transition:.25s;

}

.skill-input-box input::placeholder{

    color:#98a2b3;

}

.skill-input-box input:hover{

    border-color:#98a2b3;

}

.skill-input-box input:focus{

    outline:none;

    border-color:#6b5cff;

    box-shadow:0 0 0 4px rgba(107,92,255,.12);

}



/*ADD BUTTON*/

.skill-add-btn{

    height:58px;

    min-width:130px;

    border:none;

    border-radius:16px;

    background:linear-gradient(135deg,#6b5cff,#8f6fff);

    color:#fff;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.25s;

}

.skill-add-btn:hover{

    transform:translateY(-2px);

    box-shadow:0 10px 24px rgba(107,92,255,.25);

}



/*SELECTED TAGS*/

.selected-skills{

    display:flex;

    flex-wrap:wrap;

    gap:14px;

}

.skill-tag{

    display:flex;

    align-items:center;

    gap:12px;

    background:#eef2ff;

    color:#4338ca;

    padding:12px 18px;

    border-radius:999px;

    font-size:15px;

    font-weight:600;

}

.skill-tag button{

    border:none;

    background:none;

    color:#6b5cff;

    font-size:18px;

    cursor:pointer;

    transition:.2s;

}

.skill-tag button:hover{

    color:#ef4444;

    transform:scale(1.1);

}



/*RESPONSIVE*/

@media(max-width:768px){

    .skill-input-box{

        flex-direction:column;

        align-items:stretch;

    }

    .skill-add-btn{

        width:100%;

    }

}

/*ACHIEVEMENTS PAGE*/

.achievement-card{

    margin-bottom:40px;

}

.card-header{

    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-top:60px;
    margin-bottom:25px;

    padding-bottom:20px;

    border-bottom:2px solid #e7eaf5;

}

.card-title{

    margin:0;

    font-size:30px;
    font-weight:700;

    color:#1f2d5c;

}

.section-subtitle{

    font-size:16px;
    color:#667085;

    margin-bottom:30px;

}



/* Select */

.form-group select{

    width:100%;

    height:56px;

    padding:0 18px;

    border:2px solid #d4d8e8;
    border-radius:14px;

    background:#fff;

    font-size:15px;
    color:#1f2937;

    cursor:pointer;

    transition:.25s;

}

.form-group select:hover{

    border-color:#bcc5d8;

}

.form-group select:focus{

    outline:none;

    border-color:#6b5cff;

    box-shadow:0 0 0 4px rgba(107,92,255,.12);

}



/* Month Input */

input[type="month"]{

    width:100%;

    height:56px;

    padding:0 18px;

    border:2px solid #d4d8e8;
    border-radius:14px;

    background:#fff;

    font-size:15px;

    transition:.25s;

}

input[type="month"]:hover{

    border-color:#bcc5d8;

}

input[type="month"]:focus{

    outline:none;

    border-color:#6b5cff;

    box-shadow:0 0 0 4px rgba(107,92,255,.12);

}



/* Delete Button */

.delete-btn{

    background:#fff5f5;

    color:#dc2626;

    border:1px solid #fecaca;

    border-radius:10px;

    padding:10px 18px;

    font-size:15px;
    font-weight:600;

    cursor:pointer;

    transition:.25s;

}

.delete-btn:hover{

    background:#dc2626;

    color:white;

    transform:translateY(-2px);

}



/* Add Button */

.add-btn{

    margin-top:20px;

}