/* ROLES SECTION */

.roles-section{
    max-width:1300px;
    margin:120px auto;
    padding:0 40px;
}

/* HEADER */

.roles-header{
    text-align:center;
    margin-bottom:60px;
}

.roles-badge{
    display:inline-block;
    padding:10px 20px;
    border-radius:999px;
    background:rgba(139,92,246,.12);
    border:1px solid rgba(139,92,246,.2);
    color:#b794ff;
    font-size:13px;
    letter-spacing:1px;
}

.roles-header h2{
    margin-top:24px;
    color:white;
    font-size:52px;
}

.roles-header p{
    max-width:700px;
    margin:18px auto 0;
    color:#94a3b8;
    line-height:1.8;
}

/* GRID */

.roles-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:24px;
}

/* CARD */

.role-card{
    position:relative;
    overflow:hidden;
    text-decoration:none;
    padding:32px;
    border-radius:24px;
    background:
    linear-gradient(
        135deg,
        rgba(15,23,42,.95),
        rgba(30,41,59,.95)
    );
    border:1px solid rgba(255,255,255,.06);
    transition:.35s;
}

/* TOP STRIP */

.role-strip{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:4px;
    background:
    linear-gradient(
        90deg,
        #8b5cf6,
        #38bdf8
    );
}

/* HOVER */

.role-card:hover{
    transform:translateY(-6px);
    border-color:rgba(139,92,246,.25);
    box-shadow:
    0 20px 40px rgba(0,0,0,.25);
}

/* TITLE */

.role-card h3{
    color:white;
    font-size:26px;
    margin-bottom:14px;
}

/* DESCRIPTION */

.role-card p{
    color:#94a3b8;
    line-height:1.8;
    margin-bottom:22px;
}

/* LINK */

.role-card span{
    color:#8b5cf6;
    font-weight:600;
}

/* ACTIVE SDE */

.active-role{
    border:1px solid rgba(139,92,246,.25);
    box-shadow:
    0 0 40px rgba(139,92,246,.08);
}

/* RESPONSIVE */

@media(max-width:900px){

    .roles-grid{

        grid-template-columns:1fr;
    }

    .roles-header h2{

        font-size:40px;
    }
}